.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brand-logo {
  height: 28px;
  width: 100%;
  padding-left: 20px;
}

#sidebarMenu {
  background-color: rgb(229, 228, 228);
}

.card {
  text-decoration: none;
}

.sidebar {
  font-weight: 500;
  font-size: 15px;
}

.nav-item, svg {
  padding-right: 1px;
}

.sbni {
  padding: 10px;
}



